# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class



# macOS system files
.DS_Store

# VSCode
.vscode/
# Avoid huge binaries in images/
/images/*.mp4
/images/*.mov
/images/*.avi
/images/*.mkv
/images/*.zip
/images/*.gz
/images/*.7z
